@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
}